:root{
    margin: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

@font-face {
    font-family: 'Games';
    src: url(./fonts/Games.ttf);
}

body{
    background-color: #353935;
    height: 100vh;
    align-items: center;
}

.game{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    
}
.centered{
    font-family: 'Games', sans-serif;
    font-size: xx-large;
    color: white;
    display: flex;
    justify-content: center;
}

.buttons{
    display: flex;
    justify-content: center;
}

.gameContainer{
    display: flex;
    justify-content: center;
    height: 400px;
    align-items: center;

}

.gameContainer > img{
    height: 250px;
    transition: all 0.2s ease-in;
}

.gameContainer > img:hover{
    transition: all 0.5s ease-in;
    transform: scale(1.1);
}



.results{
    font-family: 'Games', sans-serif;
    font-size: xx-large;
    color: white;
    display: flex;
    justify-content: center;
}

.score{
    font-size: xx-large;
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    display: flex;
    text-align: center;
    margin-top: 50px;
    justify-content: center;
}

.footerContainer{
    position: absolute;
    bottom: 1%;
    width: 100%;
}
.footer{
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    color: white;
}